[submodule "packages/make-executable"]
	path = packages/make-executable
	url = https://github.com/bconnorwhite/make-executable.git
[submodule "packages/package-add"]
	path = packages/package-add
	url = git@github.com:bconnorwhite/package-add.git
[submodule "packages/can-use-dom"]
	path = packages/can-use-dom
	url = https://github.com/bconnorwhite/can-use-dom.git
[submodule "packages/as-typed-array"]
	path = packages/as-typed-array
	url = https://github.com/bconnorwhite/as-typed-array.git
[submodule "packages/which-pm-lockfile"]
	path = packages/which-pm-lockfile
	url = https://github.com/bconnorwhite/which-pm-lockfile.git
