[submodule "packages/make-executable"]
	path = packages/make-executable
	url = https://github.com/bconnorwhite/make-executable.git
[submodule "packages/package-add"]
	path = packages/package-add
	url = git@github.com:bconnorwhite/package-add.git
[submodule "packages/can-use-dom"]
	path = packages/can-use-dom
	url = https://github.com/bconnorwhite/can-use-dom.git
[submodule "packages/as-typed-array"]
	path = packages/as-typed-array
	url = https://github.com/bconnorwhite/as-typed-array.git
[submodule "packages/clee"]
	path = packages/clee
	url = https://github.com/bconnorwhite/clee.git
[submodule "packages/which-pm-lockfile"]
	path = packages/which-pm-lockfile
	url = https://github.com/bconnorwhite/which-pm-lockfile.git
[submodule "packages/gitkraken-cli"]
	path = packages/gitkraken-cli
	url = https://github.com/bconnorwhite/gitkraken-cli.git
[submodule "packages/has-script"]
	path = packages/has-script
	url = https://github.com/bconnorwhite/has-script.git
[submodule "packages/package-run"]
	path = packages/package-run
	url = https://github.com/bconnorwhite/package-run.git
[submodule "packages/typed-case"]
  path = packages/typed-case
  url = https://github.com/bconnorwhite/typed-case.git
[submodule "packages/for-any"]
	path = packages/for-any
	url = https://github.com/bconnorwhite/for-any.git
[submodule "packages/environment"]
	path = packages/environment
	url = https://github.com/bconnorwhite/environment.git
[submodule "packages/terminating-newline"]
	path = packages/terminating-newline
	url = https://github.com/bconnorwhite/terminating-newline.git
[submodule "packages/ends-with-string"]
	path = packages/ends-with-string
	url = https://github.com/bconnorwhite/ends-with-string.git
[submodule "packages/char-to-string"]
	path = packages/char-to-string
	url = https://github.com/bconnorwhite/char-to-string.git
[submodule "packages/join-newlines"]
	path = packages/join-newlines
	url = https://github.com/bconnorwhite/join-newlines.git
[submodule "packages/read-boolean"]
	path = packages/read-boolean
	url = https://github.com/bconnorwhite/read-boolean.git
[submodule "packages/slice-all"]
	path = packages/slice-all
	url = https://github.com/bconnorwhite/slice-all.git
[submodule "packages/p-lock"]
	path = packages/p-lock
	url = https://github.com/bconnorwhite/p-lock.git
[submodule "packages/reduce-first"]
	path = packages/reduce-first
	url = https://github.com/bconnorwhite/reduce-first.git
[submodule "packages/types-json"]
	path = packages/types-json
	url = https://github.com/bconnorwhite/types-json.git
[submodule "packages/types-tsconfig"]
	path = packages/types-tsconfig
	url = https://github.com/bconnorwhite/types-tsconfig.git
[submodule "packages/types-eslintrc"]
	path = packages/types-eslintrc
	url = https://github.com/bconnorwhite/types-eslintrc
[submodule "packages/all-package-names"]
	path = packages/all-package-names
	url = https://github.com/bconnorwhite/all-package-names.git
[submodule "packages/read-file-safe"]
	path = packages/read-file-safe
	url = https://github.com/bconnorwhite/read-file-safe.git
[submodule "packages/write-file-safe"]
	path = packages/write-file-safe
	url = https://github.com/bconnorwhite/write-file-safe.git
[submodule "packages/file-exists-safe"]
	path = packages/file-exists-safe
	url = https://github.com/bconnorwhite/file-exists-safe.git
[submodule "packages/remove-file-safe"]
	path = packages/remove-file-safe
	url = https://github.com/bconnorwhite/remove-file-safe.git
[submodule "packages/write-dir-safe"]
	path = packages/write-dir-safe
	url = https://github.com/bconnorwhite/write-dir-safe.git
[submodule "packages/write-json-safe"]
	path = packages/write-json-safe
	url = https://github.com/bconnorwhite/write-json-safe.git
[submodule "packages/stringify-json-object"]
	path = packages/stringify-json-object
	url = https://github.com/bconnorwhite/stringify-json-object.git
[submodule "packages/is-zod"]
	path = packages/is-zod
	url = https://github.com/bconnorwhite/is-zod.git
[submodule "packages/extract-first-json"]
	path = packages/extract-first-json
	url = https://github.com/bconnorwhite/extract-first-json
[submodule "packages/parse-json-object"]
	path = packages/parse-json-object
	url = https://github.com/bconnorwhite/parse-json-object
[submodule "packages/read-json-safe"]
	path = packages/read-json-safe
	url = https://github.com/bconnorwhite/read-json-safe
[submodule "packages/is-obj-empty"]
	path = packages/is-obj-empty
	url = https://github.com/bconnorwhite/is-obj-empty
